mobile()
  @media screen and (min-width $mobile)
    {block}

tablet()
  @media screen and (min-width $tablet)
    {block}

tablet-lg()
  @media screen and (min-width $tablet-lg)
    {block}

desktop()
  @media screen and (min-width $desktop)
    {block}